# Project 3: Data Cleaning and EDA

Using the data obtained in the API notebook, I will create a single data frame to use in creating a classification using Natural Language Processing.

In [13]:
import pandas as pd
import glob

In [18]:
# Argo helped me with the library, 'glob'. Glob lets you define a folder as a variable

files = glob.glob('../project-3/Data/*.csv') # * is the thing that is different, the files variable is not a list, but it is a 'list' of files... like a folder.

list = []

for file in files:
    list.append(pd.read_csv(file))

posts = pd.concat(list)

In [19]:
# Looking into the posts dataframe
print('Dimensions:', '\n')
print(posts.shape)
print('='*30, '\n')

print('Information:', '\n')
print(posts.info())
print('='*30, '\n')

print('data types:', '\n')
print(posts.dtypes)
print('='*30, '\n')

Dimensions:

(2885, 3)
==============================

Information:

<class 'pandas.core.frame.DataFrame'>
Index: 2885 entries, 0 to 100
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   2885 non-null   object
 1   post    2807 non-null   object
 2   source  2885 non-null   object
dtypes: object(3)
memory usage: 90.2+ KB
None
==============================

data types:

title     object
post      object
source    object
dtype: object
==============================

In [20]:
# noticed all titles had 'AITA' at the beginning
posts['title'] = posts['title'].str.replace('AITA', '')

In [21]:
posts.tail()

,title,post,source
96,for telling my epileptic friend to stop delib...,Paula (35F) and I (30F) have been close friend...,AmItheAsshole
97,WIBTA if i told a couple on holiday to parent ...,I'm (31m) on holiday with my fiancé (36f) and ...,AmItheAsshole
98,for calling my co worker rude?,TLDR; co worker called me a diversity hire and...,AmItheAsshole
99,"WIBTA if I told my friend her ""looking out for...",Since I transferred to my university I've (21F...,AmItheAsshole
100,for not inviting our friends daughter to our ...,My daughter is turning 7 and has been very exc...,AmItheAsshole

In [22]:
df.drop_duplicates(inplace = True)

In [23]:
df.shape

(1230, 3)

In [26]:
posts['source'].value_counts

<bound method IndexOpsMixin.value_counts of 0         AskLawyers
1         AskLawyers
2         AskLawyers
3         AskLawyers
4         AskLawyers
           ...
96     AmItheAsshole
97     AmItheAsshole
98     AmItheAsshole
99     AmItheAsshole
100    AmItheAsshole
Name: source, Length: 2885, dtype: object>