# Project 3: Data Cleaning and EDA

Using the data obtained in the API notebook, I will create a single data frame to use in creating a classification using Natural Language Processing.

In [1]:
import pandas as pd

In [7]:
df0 = pd.read_csv('../project-3/Data/df04-250.csv')
df1 = pd.read_csv('../project-3/Data/df04-251.csv')
df2 = pd.read_csv('../project-3/Data/df04-252.csv')
df3 = pd.read_csv('../project-3/Data/df04-253.csv')
df4 = pd.read_csv('../project-3/Data/df04-254.csv')
df5 = pd.read_csv('../project-3/Data/df04-255.csv')
df6 = pd.read_csv('../project-3/Data/df04-256.csv')
df7 = pd.read_csv('../project-3/Data/df04-257.csv')
df8 = pd.read_csv('../project-3/Data/df04-258.csv')
df9 = pd.read_csv('../project-3/Data/df04-259.csv')

In [9]:
posts = pd.concat([df0, df1, df2, df3, df4, df5, df6, df7, df8, df9], ignore_index = True)

In [20]:
posts.head()

,title,post,source
0,AITA Monthly Open Forum April 2024: Rule 10,Continuing our deep dive into the rules of the...,AmItheAsshole
1,AITA for telling my brother and sister-in-law ...,My brother Ian and my sister-in-law Cheyenne h...,AmItheAsshole
2,AITA for refusing to cook for my wife's pregna...,I've (31m) been married to my wife Sage (30f) ...,AmItheAsshole
3,UPDATE: AITA is told my husband to stop suppor...,\nHello everyone!\n\nIve shown this to my husb...,AmItheAsshole
4,AITA? Choosing Daughter over Husband?,"My husband (m,64) and I (f,65) have been marri...",AmItheAsshole

In [12]:
posts.shape

(905, 3)

In [13]:
posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905 entries, 0 to 904
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   905 non-null    object
 1   post    905 non-null    object
 2   source  905 non-null    object
dtypes: object(3)
memory usage: 21.3+ KB

In [18]:
posts.dtypes

title     object
post      object
source    object
dtype: object