# Project 3: Data Cleaning and EDA

Using the data obtained in the API notebook, I will create a single data frame to use in creating a classification using Natural Language Processing.

In [1]:
import pandas as pd

In [5]:
# Reading in each data frame
df0 = pd.read_csv('../project-3/Data/df04-250.csv')
df1 = pd.read_csv('../project-3/Data/df04-251.csv')
df2 = pd.read_csv('../project-3/Data/df04-252.csv')
df3 = pd.read_csv('../project-3/Data/df04-253.csv')
df4 = pd.read_csv('../project-3/Data/df04-254.csv')
df5 = pd.read_csv('../project-3/Data/df04-255.csv')
df6 = pd.read_csv('../project-3/Data/df04-256.csv')
df7 = pd.read_csv('../project-3/Data/df04-257.csv')
df8 = pd.read_csv('../project-3/Data/df04-258.csv')
df9 = pd.read_csv('../project-3/Data/df04-259.csv')

df10 = pd.read_csv('../project-3/Data/df04-260.csv')
# Combining the data frames into a single data frame named 'posts'
posts = pd.concat([df0, df1, df2, df3, df4, df5, df6, df7, df8, df9], ignore_index = True)

posts.head()

,title,post,source
0,AITA Monthly Open Forum April 2024: Rule 10,Continuing our deep dive into the rules of the...,AmItheAsshole
1,AITA for telling my brother and sister-in-law ...,My brother Ian and my sister-in-law Cheyenne h...,AmItheAsshole
2,AITA for refusing to cook for my wife's pregna...,I've (31m) been married to my wife Sage (30f) ...,AmItheAsshole
3,UPDATE: AITA is told my husband to stop suppor...,\nHello everyone!\n\nIve shown this to my husb...,AmItheAsshole
4,AITA? Choosing Daughter over Husband?,"My husband (m,64) and I (f,65) have been marri...",AmItheAsshole

In [3]:
# Looking into the posts dataframe
print('Dimensions:', '\n')
print(posts.shape)
print('='*30, '\n')

print('Information:', '\n')
print(posts.info())
print('='*30, '\n')

print('data types:', '\n')
print(posts.dtypes)
print('='*30, '\n')

Dimensions:

(905, 3)
==============================

Information:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905 entries, 0 to 904
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   905 non-null    object
 1   post    905 non-null    object
 2   source  905 non-null    object
dtypes: object(3)
memory usage: 21.3+ KB
None
==============================

data types:

title     object
post      object
source    object
dtype: object
==============================

In [6]:
# noticed all titles had 'AITA' at the beginning
posts['title'] = posts['title'].str.replace('AITA', '')

In [7]:
posts.head()

,title,post,source
0,Monthly Open Forum April 2024: Rule 10,Continuing our deep dive into the rules of the...,AmItheAsshole
1,for telling my brother and sister-in-law that...,My brother Ian and my sister-in-law Cheyenne h...,AmItheAsshole
2,for refusing to cook for my wife's pregnant s...,I've (31m) been married to my wife Sage (30f) ...,AmItheAsshole
3,UPDATE: is told my husband to stop supporting...,\nHello everyone!\n\nIve shown this to my husb...,AmItheAsshole
4,? Choosing Daughter over Husband?,"My husband (m,64) and I (f,65) have been marri...",AmItheAsshole